<!doctype html>

<html>
    <head>
        <title>Python</title>
        <!-- load in the style sheet. -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!--Logout link-->
        <p align="right"><a href="http://127.0.0.1:5000/logout">logout</a></p>

        <!--Python page image.-->
        <img src="/static/images/python_logo.png">

        <!-- Heading for page. -->
        <h1 style="margin-top: 20px;">Python</h1>

            <!--Keywords.-->
            <h3>10 Common Python Keywords</h3>
            <!--Ordered list of keywords.-->
            <ol style="margin-left: 20px;">
                <li>import</li>
                <li>None</li>
                <li>break</li>
                <li>is</li>
                <li>return</li>
                <li>for</li>
                <li>def</li>
                <li>while</li>
                <li>not</li>
                <li>if</li>
            </ol>

            <!--Paragraph explains variables.-->
            <h3>Variables</h3>
                <p style="margin-left: 20px;">In python variable types are not specified, simply name the <br>
                variable and define its value.<br><br>
                Ex: example_name = 8</p>

                        <!--Data structures for Java.-->
            <h3>Data Structures</h3>
                <table>
                    <caption>Python Data Structures</caption>
                        <tr>
                            <th>Built-in</th>
                            <th>User Defined</th>
                        </tr>
                        <tr>
                            <td>List</td>
                            <td>Arrays / List</td>
                        </tr>
                        <tr>
                            <td>Dictionary</td>
                            <td>Stack</td>
                        </tr>
                        <tr>
                            <td>Tuple</td>
                            <td>Queue</td>
                        </tr>
                        <tr>
                            <td>Sets</td>
                            <td>Trees</td>
                        </tr>
                        <tr>
                            <td>Graphs</td>
                        </tr>
                        <tr>
                            <td>HashMaps</td>
                        </tr>
                </table>

            <!--Some guides and documentation listed as hyperlinks, displaying their specific urls.-->
            <h3>Guides and Documentation</h3>
                <h4 style="margin-left: 20px;">Guides</h4>
                <ul>
                    <li><a href="https://docs.python.org/3/tutorial/">
                    https://docs.python.org/3/tutorial/</a></li>
                    <li><a href="https://www.youtube.com/watch?v=rfscVS0vtbw&ab_channel=freeCodeCamp.org">
                        https://www.youtube.com/watch?v=rfscVS0vtbw&ab_channel=freeCodeCamp.org</a></li>
                </ul>
                <h4 style="margin-left: 20px;margin-top: 20px;">Documentation</h4>
                <ul>
                    <li><a style="margin-left: 20px;" href="https://docs.python.org/3/">
                        https://docs.python.org/3/</a></li>
                </ul>

            <a href="http://127.0.0.1:5000/">home</a>
    </body>
</html>