<!DOCTYPE html>
<html>
    <head>
        <title>Update Password Page</title>
        <!-- load in the style sheet. -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
    <form action = "http://127.0.0.1:5000/update" method = "post">
        <!-- Heading for page. -->
        <h1>Update Password Page</h1>

        <!--Update password entry fields.-->
        <p>Your password must be at least 12 characters long, have one uppercase character, <br>
        one lowercase character, one number, and one special character.</p>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <!--Update password buttons-->
        <button type="submit">Update</button>
        <button type="button">Cancel</button>
    </form>

    <a href="http://127.0.0.1:5000/registration">Sign Up</a>

    <!--Flash messages for password update issues.-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </body>
</html>